
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0 px;
    padding: 0px;
}
body{
    font-family: inter !important;
}
.nav-link{
    margin-left: 20px;
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #0d0a19;
}
.signUp{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
}
.signUp img {
    border-radius: 10px;
    background: #F5F6F7;
    width: 30px;
    height: 25px;
    padding: 5px 8px;

}
.section-one{
    background-image: url(./img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.section-one h1{
    padding-top: 200px;
    font-weight: 700;
    font-size: 60px;
    position: relative;
}
.section-one p{
    font-weight: 700;
}
.top-footer-section{
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
    border-radius: 8px;
    width: 945px;
    max-width: 100%;
    position: relative;
    top: -55px;
}
.bg-purple{
    background-color: #7963F0 !important;
    color: #FFFFFF !important;
}
.headerButton{
    background-color: #7963F0 !important;
    border-radius: 10px;
}
.section-three{
    padding-top: 80px;
}
.padding-4{
    padding-top: 2.5rem!important;
}
.cardlogo{
    width: 30px;
    height: 30px;

}
#caro-button button{
    position: static !important;
    width: 50% !important;
}
.section-four{
    padding-top: 150px;
}
.hatur img{
    padding-left: 30px;
}
.section-five{
    padding-top: 150px;
}
.footer-section{
    background-color: #F5F6F7;
    padding: 70px 0px;
}





@media(max-width:768px){
    .section-one h1{font-size: 30px;}
    .section-one p{
        font-size: 10px;
    }
    .section-three{
        padding-top: 60px;
    }
    .section-four{
        padding-top: 60px;
    }
    .section-five{
        padding-top: 60px;
    }
    .footer-section{
        padding: 40px 0px;
    }
}
